/* Fix slick settings checkbox positioning */
.form-type-checkbox .form-checkbox,
.form-type-radio .form-radio,
.blazy .form-type-checkbox .dummy-checkbox {
  margin-left: .5em;
  margin-top: -.5em;
}

/* Add some styling to the media library insert modal */
.js-media-library-item {
  border-width: 2px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
}

.views-row.media-library-item--grid.media-library-item--disabled {
  border-width: 2px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
}

/* On replace file in media edit do not show option for not keeping original file name. */
.form-item-keep-original-filename {
  display: none !important;
}
