<div style="max-width: {{ drupal_config('glen_admin.settings', 'photo_width') }}px;" class="cocoen-beforeafter-container cocoen">
  {% for image in images %}
    <img class="cocoen-beforeafter-item" src="{{ image }}">
  {% endfor %}
</div>
