div.content {

  .ckeditor-accordion-container > dl {
    border: none;
    border-radius: 5px;
  }

  .ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before,
  .ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after {
    background: #fff;
  }

  .ckeditor-accordion-container > dl dt > a,
  .ckeditor-accordion-container > dl dt > a:not(.button) {
    background-color: $primary-light;
    color: #fff;
    border-bottom: 1px solid $primary-light;
    border-radius: 5px;
    font-weight: 600;
  }

  .ckeditor-accordion-container > dl dt > a:focus,
  .ckeditor-accordion-container > dl dt > a:not(.button):focus {
    outline-color: #333;
  }

  .ckeditor-accordion-container > dl dt > a:hover,
  .ckeditor-accordion-container > dl dt > a:not(.button):hover {
    background-color: $primary-light;
    box-shadow: none;
    color: #fff;
    border-radius: 5px;
  }

  .ckeditor-accordion-container > dl dt.active > a {
    background-color: $primary-light;
  }

  /* add a bit of space between the accordian dt's */
  .ckeditor-accordion-container > dl dt {
    line-height: 95%;
    margin-bottom: 5px;
  }
}
