body.justus {

  .navbar-brand {
    color: $h1;
  }

  h1 {
    color: $h1
  };

  .content,
  article {
    img {
      border-radius: 10px;
    }
  }
  .site-footer {
    background: $primary-light !important;
  }

}

/* style ckeditor accordion */
.ckeditor-accordion-container > dl.styled {
  position: relative;
  border: 1px solid $primary-light;
  border-radius: 2px;
}

/* style the sidebar image on the other-trips view */
@include media-breakpoint-up(md) {
  .image-opacity {
    opacity: 50%;
    &:hover {
      opacity: 100%;
    }
  }

}

/* the read-more link from the module of the same name */
.ckeditor-readmore-toggler {
  font-weight: bold;
}

/* Styling of the arrows for slick */
button.slick-arrow[aria-label="Previous"] {
  margin-left: 30px;
}

button.slick-arrow[aria-label="Next"] {
  margin-right: 50px;
}

.path-frontpage {
  /* Styling of the arrows for slick */
  button.slick-arrow[aria-label="Previous"] {
    margin-left: 30px;
  }

  button.slick-arrow[aria-label="Next"] {
    margin-right: 30px;
  }
}


.slick-arrow::before {
  color: $primary-shade;
  //font-size: 36px;
  font-size: 48px;
  font-size: 3.25rem;
}

button.slick-arrow.slick-disabled {
  opacity: 0.5;
}

// On replace file in media edit do not show option for not keeping original file name.
.form-item-keep-original-filename {
  display: none !important;
}

.site-footer {
  .row > * {
    width: auto;
  }
  .navbar-nav {
    flex-direction: row;
    li {
      margin-right: 20px;
    }
  }
}

// This is the hamburger shut and open. For some reason it's not working out of the box.
body.justus button.navbar-toggler .navbar-toggler-icon {
  color: white;
  border: 2px white solid;
  border-radius: 5px;
  opacity: 0.6;
  background-size: 50%;
  background-image: url("/themes/custom/justus/images/x_icon_white.svg");
}

body.justus button.navbar-toggler.collapsed .navbar-toggler-icon {
  color: white;
  border: 2px white solid;
  border-radius: 5px;
  opacity: 0.6;
  background-size: 60%;
  background-image: url("/themes/custom/justus/images/hamburger_icon_white.svg");
}

// Link color in the footer
.site-footer {
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
  }

  .navbar-nav .nav-link.active:active,
  .navbar-nav .nav-link.active:hover,
  .navbar-nav .nav-link.active:focus,
  .navbar-nav .nav-link.show:active,
  .navbar-nav .nav-link.show:hover,
  .navbar-nav .nav-link.show:focus {
    color: white !important;
  }
}

    // Helpers
  .ms-n1 {
    margin-left: -0.25rem !important;
  }
  .ms-n2 {
    margin-left: -0.50rem !important;
  }
}
