/* Error: Can't find stylesheet to import.
 *    ,
 * 68 | @import "barrio";
 *    |         ^^^^^^^^
 *    '
 *   import.scss 68:9  @import
 *   style.scss 7:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 68 \2502  @import \"barrio\";\a    \2502          ^^^^^^^^\a    \2575 \a   import.scss 68:9  @import\a   style.scss 7:9    root stylesheet";
}
