/*
Theme Name: Bootstrap 4 Sass
Description: Bootstrap 4 with Sass
*/

// import files
@import "import";

/* GENERAL STYLES
-------------------------------------------------*/

body {
    background: $white;
}


/* COLORS
--------------------------------------------------*/

a {
    color: $accent-shade;
}

.bg-inverse {
    background: $primary-shade !important;
}

.site-footer {
    background: $accent-shade !important;
}

.menu--main li a {
    color: $primary-shade;
}

.menu--account li a {
    color: $primary-shade;
}

.site-name-slogan a {
    text-decoration: none;
}

.card-group img {
    margin: 0;
    width: 100%;
    height: auto;
}

.card-group .field--type-image {
    margin: 0
}

.slick {
    width: 100%;
}

.slick>div {
    margin: 0 15px;
}

// For slick slideshow on full trip page, do not add margin.
.node--type-trip.node--view-mode-full .slick>div {
  margin: 0;
}

// Featured Top section is used for the front page slide show.
.featured-top {
  // Don't round the corners because it's a fullscreen slideshow
  img {
    border-radius: 0px;
  }
  // Remove margin from the slideshow image div
  .slick>div {
    margin: 0;
  }
  // Remove padding from the slideshow image div
  .row > * {
    padding: 0;
  }
}

  // For styling when logged in
  //body.user-logged-in {
  //  // Mark blocks when logged in so they are better visible
  //  .block {
  //    border: 1px dashed gainsboro;
  //  }
  //}

  // Bold the current menu choice in the main menu
  .nav-item .nav-link.is-active {
    color: $light;
    font-weight: bold;
  }

  // Make the hamburger stand out
  .navbar-toggler {
    background-color: $primary-shade;
    margin-right: 1rem;
  }
  .navbar-collapse.justify-content-end.collapse.show {
    margin-left: 1rem;
  }

  // Color when hovering over the menu link
  .nav-link:hover, .nav-link:focus {
    color: $accent-dark;
  }

  a.system-branding-link {
    color: $light;
    font-size: calc(1.3rem + 0.6vw);
  }

  // Read more module. Add margin below it.
  .ckeditor-readmore-wrapper {
    margin-bottom: 1rem;
  }

  // Social Media links in footer make it smaller in height by getting rid
  // of margins
#block-justus-socialmedialinks,
.site-footer .social-media-links--platforms.platforms.inline.horizontal {
  margin: 0;
}

// Front page tweaks

// Push edit tabs down a bit
body.path-frontpage #main-wrapper nav.tabs {
  margin-top: 1rem;
}
